<html>
  <h1 class="aboutTitle">{{ title }} </h1>

  <section class="about">
    <p>We are computer science students at the College of Management and are now finishing second year.</p>
    <p> This project was done as part of a web application development course.</p>
    <br />
  </section>

  <section class="about">
    <P> Mean Stack application </P>
    <p> MVC - Model View Controller </p>
    <p> JQuery & Ajax </p>
    <p> HTML5 </p>
    <p> CSS </p>
    <p> JavaScript </p>
    <p> Angular </p>
    <p> Node.js </p>
    <p> MongoDB </p>
    <p> API </p>
  </section>

  <aside>
    <h2 class="thanks"> Thank You for watching our project! </h2>
    <p class="thankstext"> Omer Atir , Aviad Rahamim , Shiran Klein , Guy Peleg </p>
  </aside>

  <div></div>

</html>
