.centerVideo {
  margin: auto;
  width: 80%;
  border: 3px solid transparent;
  padding: 10px;
}

#myVideo {
  margin-top:5%;
  position: center;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 200px;
  margin-bottom: 5%;
  border-radius: 12px;
  align-items: center;
}

.centerFacebook {
  margin: auto;
  width: 80%;
  border: 3px solid transparent;
  padding: 10px;
  align-items: center;
}

.facebook {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Segoe UI';
  font-size: 3vw;
  text-align: left;
  text-shadow: 2px 2px 4px #000000;
  color: #4267B2;
  font-weight: bold;
  /*font-family: Segoe UI;
  font-size: 2vw;
  text-align: center;
  color: #4267B2;
  text-shadow: 1px 1px 1px #000000;*/
}


#divWeatherMain{
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 270px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
  color: white;;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
}

.weatherWidgetRow{
  display:block;
  margin:0 auto;
  width: fit-content;
}

.sun{
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
  margin-top: 10px;
  color: white;
  filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv{
  margin-top: -40px;
}

.cloud{
  color: rgb(104, 175, 197);
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement{
  from{margin-left: -55px;}
  to{margin-left: 65px;}
}
